<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>お店一覧</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GruMemo</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">ログイン</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- ヘッダー -->
<div id="header">
    ヘッダー
</div>


<div class="container">
    <div class="row">
        <!-- サイドバー -->
        <div id="side_bar" class="col-md-3">
            サイドバー
            <div id="list_operation">
                <p>
                    <button class="btn btn-default">新規作成</button>
                    <button class="btn btn-default">まとめて削除</button>
                </p>
            </div>
            <div class="search">
                <form action="#" method="post">
                    <div class="form-group">
                        <label>タグ</label>
                        <input type="text" name="tag" class="form-control" placeholder="例.デート向き"/>
                    </div>
                    <div class="form-group">
                        <label>フリーワード</label>
                        <input type="text" name="free_word" class="form-control"/>
                    </div>
                    <button class="btn btn-default" type="submit">検索</button>
                </form>
            </div>
        </div>
        <div id="main" class="col-md-9">
            <!-- メイン -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#shop_all" data-toggle="tab">すべて</a></li>
                <li><a href="#shop_fab" data-toggle="tab">お気に入り</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="shop_all">
                    <div id="shop_contents" th:each="shop : ${shops}">
                        <h2 th:text="${shop.name}">たまい</h2>
                        <div th:text="${shop.note}">安い</div>
                        <div style="display:inline-flex">
                            <form th:action="@{/shops/edit}" method="get">
                                <input class="btn btn-default" type="submit" name="form" value="編集"/>
                                <input class="btn btn-default" type="hidden" name="id" th:value="${shop.id}"/>
                            </form>
                            <form th:action="@{/shops/delete}" method="post">
                                <input class="btn btn-default" type="submit" value="削除"/>
                                <input class="btn btn-default" type="hidden" name="id" th:value="${shop.id}"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="shop_fab">
                    <div id="shop_contents" th:each="shop : ${shops}">
                        <h2 th:text="${shop.name}">たまい</h2>
                        <div th:text="${shop.note}">安い</div>
                        <div style="display:inline-flex">
                            <form th:action="@{/shops/edit}" method="get">
                                <input class="btn btn-default" type="submit" name="form" value="おきにいり"/>
                                <input class="btn btn-default" type="hidden" name="id" th:value="${shop.id}"/>
                            </form>
                            <form th:action="@{/shops/delete}" method="post">
                                <input class="btn btn-default" type="submit" value="おきにいり"/>
                                <input class="btn btn-default" type="hidden" name="id" th:value="${shop.id}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- フッター -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                footer
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        th:src="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>